apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-8ah7
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-8ah7
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-8ah7
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-8ah7
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-8ah7
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ykgi-tenant/nodejs-users/simple-nodejs-app-8ah7@sha256:c8cbbe505abceb7eccb6bc9299869088c2c17e4db9d57cb99986f404ad9cea94
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
